body {
	margin:0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li.topnav {
    float: left;
}

li.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.topnav a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h4{
    font-color:blue;
}
div.body_contents{
    margin: 1em;
}

table.transactions, th.transactions, td.transactions{
    border: 1px solid black;
    padding:1em;
    margin:1em;
}
tr.transactions:nth-child(even){
    background-color: #CCC;
}
tr.transactions:nth-child(odd){
    background-color: #FFF;
}
tr.transactions:hover{
    /*background-color:#4832e8;*/
    text-decoration: underline;
}