<!Doctype html>
<html lang='en'>
<head>
<!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'budget/style/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'budget/style/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'budget/style/bootstrap-theme.min.css' %}" />
    <script src="{% static 'budget/script/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'budget/script/bootstrap.min.js' %}"></script>
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav" style='width:100%;'>
            <a class="nav-item nav-link" href="{% url 'budget:home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'budget:config' %}">Config</a>
            <a class="nav-item nav-link" href="{% url 'budget:overview' %}">Overview</a>
            
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'budget:logout' %}">Logout</a>
           
            <div class="collapse navbar-collapse" id="navbarText">
            </div>
            <a class='nav-item nav-link disabled' style='float:right;'> {{user.username}}</a>
            {% else %}
            
            <a class="nav-item nav-link" href="{% url 'budget:login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    
<div class='body_contents'>
{%block body%}{%endblock%}
</div>
</body>
</html>
