<!Doctype html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'budget/style/base.css' %}" />
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
<ul class="topnav">
    <li class="topnav"><a href="{% url 'budget:home' %}">Home</a></li>
    <li class="topnav"><a href="{% url 'budget:config' %}">Configure</a></li>
    <li class="topnav"><a href="{% url 'budget:overview' %}">Data</a></li>
</ul>
<h4> Template </h4>
{%block body%}{%endblock%}
</body>
</html>
