{% extends 'budget/base.html' %}

{% block body %}
<h2> Welcome to the Config  page</h2>



<!-- Tab options -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'categories')">Categories</button>
    <button class="tablinks" onclick="openTab(event, 'banks')">Banks</button>
    <button class="tablinks" onclick="openTab(event, 'budgets')">Budgets</button>
</div>



<div class="tabcontent" id='categories' style='display:block;'>
    <form method='POST' action="{% url 'budget:config' %}">
        {%csrf_token%}
        <input type='text' id='new_category' onKeyPress='categoryPressEnter(this, event, "category_list", "category_textarea")'>
        <button type='button' onclick="addCategoryToLists('new_category','category_list','category_textarea')">Add</button>
        <textarea name='categories' id='category_textarea' style='display:none;'></textarea>
        <table>
            <tr>
                <th style='padding-right: 10px; padding-left: 10px;'>Category Name</th>
                <th style='padding-right: 10px; padding-left: 10px;'>Disable</th>
                <th style='padding-right: 10px; padding-left: 10px;'>Delete</th>
            </tr>
            {% for category in all_categories %}
            <tr class='formRow'>
                <td style="padding-right:10px;"><input type='text' class='category_input' name='{{category.id}}__category' value='{{category.category}}'></td>
                <td style="text-align: center;"><input type='checkbox' name='{{category.id}}__display' value='{{category.display}}'></td>
                <td style="text-align: center;"><input type='checkbox' name='{{category.id}}__delete' value='0' onchange='deleteRow(this)'></td>
            </tr>
            {% endfor %}
        </table>
        <input type='submit' value='Submit' onclick='submissionCheck(event)'>
        
    </form>
</div>


<div class="tabcontent" id='banks' style='display:block;'>
    
</div>


<div class="tabcontent" id='budgets' style='display:block;'>
    
</div>

<script>

function deleteRow(cb){
    row = cb.parentElement;
    row.classList.toggle('deleteRow')
}

// Tab script
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

{% endblock %}
