{% extends 'budget/base.html' %}

{% block body %}
<h2> Welcome to the Config  page</h2>



<!-- Tab options -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'categories')">Categories</button>
    <button class="tablinks" onclick="openTab(event, 'banks')">Banks</button>
    <button class="tablinks" onclick="openTab(event, 'budgets')">Budgets</button>
</div>


<!-- Categories-->
<div class="tabcontent" id='categories' style='display:block;'>
    <form method='POST' action="{% url 'budget:config' %}">
        {%csrf_token%}
        <input type='text' id='new_category' onKeyPress='overrideEnter(event,addCategory)' maxlength='64'>
        <button type='button' onclick="addCategory()">Add</button>
        <textarea name='categories' id='category_textarea' style='display:none;'></textarea>
        <table id='category_table'>
            <tr>
                <th style='padding-right: 10px; padding-left: 10px;'>Category Name</th>
                <th style='padding-right: 10px; padding-left: 10px;'>Enabled</th>
            </tr>
            {% for category in all_categories %}
            <tr class='formRow'>
                <td style="padding-right:10px;"><input type='text' class='config_input' name='existing__{{category.id}}__category' value='{{category.category}}'></td>
                <td style="text-align: center;"><input type='checkbox' name='existing__{{category.id}}__enabled' {% if category.enabled %} checked {%endif%}></td>
            </tr>
            {% endfor %}
        </table>
        <input type='submit' name='submit_categories' value='Submit' >
        
    </form>
</div>

<!-- Banks -->
<div class="tabcontent" id='banks' style='display:none;'>
    <form method='POST' action="{% url 'budget:config' %}">
        {%csrf_token%}
        <input type='text' id='new_bank' onKeyPress='overrideEnter(event, addBank)' maxlength='64'>
        <input type='number' stepsize='0.01' id='new_starting_amount' onKeyPress='overrideEnter(event, addBank)' stepsizemaxlength='15'>
        <button type='button' onclick="addBank()">Add</button>
        <table id='bank_table'>
            <tr>
                <th style='padding-right: 10px; padding-left: 10px;'>Bank Name</th>
                <th style='padding-right: 10px; padding-left: 10px;'>Starting Amount</th>
                <th style='padding-right: 10px; padding-left: 10px;'>Display</th>
            </tr>
            {% for bank in all_banks %}
            <tr class='formRow'>
                <td style="padding-right:10px;"><input type='text' class='config_input' name='existing__{{bank.id}}__bank' value='{{bank.name}}'></td>
                <td style="padding-right:10px;">$<input type='number' class='config_input' name='existing__{{bank.id}}__starting_amount' value='{{bank.starting_amount}}' stepsize='0.01'></td>
                <td style="text-align: center;"><input type='checkbox' name='existing__{{bank.id}}__display' {% if bank.display %} checked {%endif%}></td>
            </tr>
            {% endfor %}
        </table>
        <input type='submit' name='submit_banks' value='Submit' >
        
    </form>
</div>


<div class="tabcontent" id='budgets' style='display:none;'>
    
</div>

<script>

// Tab script
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<!--Categories JS-->

<script>
    function isAlphaNum(ch){
      return /^[A-Za-z0-9\. -]$/i.test(ch);
    }
    function addCategory(){
        table = document.getElementById('category_table');
        new_row = table.insertRow(1);
        input = new_row.insertCell(0);
        enabled = new_row.insertCell(1);
        category = document.getElementById('new_category').value;
        document.getElementById('new_category').value = '';
        
        new_row.classList.add('formRow');
        input.innerHTML = "<input type='text' class='config_input' name='new__"+category+"' value='"+category+"'>";
        input.style.paddingRight = '10px';
        enabled.innerHTML = "<input type='checkbox' name='new__"+category+"__enabled' checked>";
        enabled.style.textAlign='center';
    }
    function overrideEnter(event, fxn){
        if (!isAlphaNum(event.key)){
            event.preventDefault();
        }
        if (event.key === "Enter"){
            fxn();
            event.preventDefault();
        }
    }
    
    function addBank(){
        table = document.getElementById('bank_table');  // Get the table
        new_row = table.insertRow(1);                   // Add a new row
        input = new_row.insertCell(0);                  // Add a column for the name
        starting_amount = new_row.insertCell(1);        // Add a column for the starting amount
        display = new_row.insertCell(2);                // Add a column for the display checkbox
        
        bank = document.getElementById('new_bank').value; // Get the name for the bank
        starting_amount_val = document.getElementById('new_starting_amount').value; // Get the starting amount
        document.getElementById('new_bank').value = '';     // Reset the values in the form
        document.getElementById('new_starting_amount').value = '';
        
        new_row.classList.add('formRow');
        input.innerHTML = "<input type='text' class='config_input' name='new__"+bank+"__name' value='"+bank+"'>";
        input.style.paddingRight = '10px';
        starting_amount.innerHTML = "$<input type='number' stepsize='0.01' class='config_input' name='new__"+bank+"__starting_amount' value='"+starting_amount_val+"'>";
        starting_amount.style.paddingRight = '10px';
        display.innerHTML = "<input type='checkbox' name='new__"+bank+"__display' checked>";
        display.style.textAlign='center';
    }
</script>


{% endblock %}
