{% extends 'budget/base.html' %}

{% block title %}Overview{% endblock %}

{% block body %}
<h2> Welcome to Overview page</h2>

<!-- Tab options -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'data')">data</button>
    {% for bank in all_banks %}
    <button class="tablinks" onclick="openTab(event, '{{bank}}')">{{bank}}</button>
    {% endfor %}
</div>
<!-- Tab Divs -->
<div class="tabcontent" id='data' style='display:block;'>
    <div class='row'>
        <div style='margin: 1em;'>
            <form action="{% url 'budget:overview' %}" method='POST' id='transaction_form'>
                {% csrf_token %}
                <input type='hidden' name='pk' id='database_pk' value='{{pk}}'>
                <table>
                    {{tx_form.as_table}}
                </table>
                <input type='submit' name='submit_new' value='Submit'>
                <input type='submit' name='update' value='Update'>
                <input type='submit' name='delete' value='Delete'>
                
                <datalist id='Locations'>
                    {% for location in locations %}
                    <option value="{{location}}">
                    {% endfor %}
                </datalist>
            </form>
        </div>
    </div>
    
    <table id='transactions_table' class='transactions'>
        <tr class='header' id='transaction_header'>
            <th class='transactions'>
                #
            </th>
            <th class='transactions'>
                Date
            </th>
            <th class='transactions'>
                Amount
            </th>
            <th class='transactions'>
                Category
            </th>
            <th class='transactions'>
                Location
            </th>
            <th class='transactions'>
                Notes
            </th>
            <th class='transactions'>
                Card/Bank Used
            </th>
            <th class='transactions'>
                Net Change
            </th>
            {% for bank in all_banks %}
            <th class='transactions'>
                {{bank}}
            </th>
            {% endfor %}
        </tr>
        
        {% for tx in all_transactions %}
        <tr class='transactions' id='row_{{forloop.counter}}' name='{{tx.id}}' onClick="moveToForm({{forloop.counter}})">
            <td class='transactions'>
                {{forloop.counter}}
            </td>
            <td class='transactions' id='date_row_{{forloop.counter}}'>
                {{tx.date|date:"F d, Y"}}
            </td>
            <td class='transactions' id='amount_row_{{forloop.counter}}'>
                ${{tx.amount}}
            </td>
            <td class='transactions' id='category_row_{{forloop.counter}}'>
                {{tx.category}}
            </td>
            <td class='transactions' id='location_row_{{forloop.counter}}'>
                {{tx.location}}
            </td>
            <td class='transactions' id='notes_row_{{forloop.counter}}'>
                {{tx.notes}}
            </td>
            <td class='transactions' id='card_used_row_{{forloop.counter}}'>
                {{tx.card_used}}
            </td>
            <td class='transactions' id='net_row_{{forloop.counter}}'>
                
            </td>
            {% for bank in all_banks %}
            <td class='transactions' id='bank_{{bank}}_row_{{forloop.parentloop.counter}}'>
               
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td class='transactions' colspan='7'>
                Starting values
            </td>
            <td class='transactions' id='net_start'>
                $0.00
            </td>
            {% for bank in all_banks %}
            <td class='transactions' id='{{bank}}_start'>
                ${{bank.starting_amount}}
            </td>
            {% endfor %}
        </tr>
    </table>
</div>


{% for bank in all_banks %}
    <div class="tabcontent" id='{{bank}}'>
        <table id='transactions_table' class='transactions'>
            <tr>
                <th class='transactions'>
                    #
                </th>
                <th class='transactions'>
                    Date
                </th>
                <th class='transactions'>
                    Amount
                </th>
                <th class='transactions'>
                    Category
                </th>
                <th class='transactions'>
                    Location
                </th>
                <th class='transactions'>
                    Notes
                </th>
                <th class='transactions'>
                    Card/Bank Used
                </th>
                <th class='transactions'>
                    Net Change
                </th>
                {% for bank in all_banks %}
                <th class='transactions'>
                    {{bank}}
                </th>
                {% endfor %}
            </tr>
            
            {% for tx in all_transactions %}
            <tr class='transactions' id='row_{{forloop.counter}}' name='{{tx.id}}' onClick="moveToForm({{forloop.counter}})">
                <td class='transactions'>
                    {{forloop.counter}}
                </td>
                <td class='transactions' id='date_row_{{forloop.counter}}'>
                    {{tx.date|date:"F d, Y"}}
                </td>
                <td class='transactions' id='amount_row_{{forloop.counter}}'>
                    ${{tx.amount}}
                </td>
                <td class='transactions' id='category_row_{{forloop.counter}}'>
                    {{tx.category}}
                </td>
                <td class='transactions' id='location_row_{{forloop.counter}}'>
                    {{tx.location}}
                </td>
                <td class='transactions' id='notes_row_{{forloop.counter}}'>
                    {{tx.notes}}
                </td>
                <td class='transactions' id='card_used_row_{{forloop.counter}}'>
                    {{tx.card_used}}
                </td>
                <td class='transactions' id='net_row_{{forloop.counter}}'>
                    
                </td>
                {% for bank in all_banks %}
                <td class='transactions' id='bank_{{bank}}_row_{{forloop.parentloop.counter}}'>
                   
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td class='transactions' colspan='7'>
                    Starting values
                </td>
                <td class='transactions' id='net_start'>
                    $0.00
                </td>
                {% for bank in all_banks %}
                <td class='transactions' id='{{bank}}_start'>
                    ${{bank.starting_amount}}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endfor %}

<!-- Calculate the changes in net value and each bank's balance -->
<script>
    month_dict={
        "January": 1,
        "February": 2,
        "March": 3,
        "April": 4,
        "May": 5,
        "June": 6,
        "July": 7,
        "August": 8,
        "September": 9,
        "October": 10,
        "November": 11,
        "December": 12
    }
    category_lookup = {}
    {% for category in all_categories %}
    category_lookup["{{category.category}}"] = {{category.id}};
    {% endfor %}
    
    bank_lookup = {}
    {% for bank in all_banks %}
    bank_lookup["{{bank.name}}"] = {{bank.id}};
    {% endfor %}
    
    function moveToForm(id_num){
        // If this row is clicked, add its data to the form
        date = document.getElementById("date_row_"+id_num).innerText
        date = date.match(/(\w+) (\d+), (\d+)/)
        date_month = month_dict[date[1]]
        date_day = date[2]
        date_year = date[3]
        amount_text = document.getElementById("amount_row_"+id_num).innerText
        amount=0
        if (amount_text.match(/\(\d+\)/)){
            amount = -1*parseFloat(amount_text.match(/\((\d+)\)/)[1],10)
        }
        else {
            amount = parseFloat(amount_text.match(/(\d+)/)[1], 10)
        }
        
        category = document.getElementById("category_row_"+id_num).innerText
        loc = document.getElementById("location_row_"+id_num).innerText
        notes = document.getElementById("notes_row_"+id_num).innerText
        card_used = document.getElementById("card_used_row_"+id_num).innerText
        // Add values to the form
        document.getElementById('id_date_month').value = date_month
        document.getElementById('id_date_day').value = date_day
        document.getElementById('id_date_year').value = date_year
        document.getElementById('id_amount').value = amount
        document.getElementById('id_category').value = category_lookup[category]
        document.getElementById('id_location').value = loc
        document.getElementById('id_notes').value = notes
        document.getElementById('id_card_used').value = bank_lookup[card_used]
        document.getElementById('database_pk').value = document.getElementById("row_"+id_num).getAttribute("name")
    }
    
    text_to_float = function(amount_str=''){
        
        if (amount_str.match(/\(\d+\.\d\d\)/) !== null){
            return -1*parseFloat(amount_str.match(/\((\d+\.\d\d)\)/)[1])
        }
        else {
            return parseFloat(amount_str.match(/(\d+\.\d\d)/)[1])
        }
    }
    
    // Calculate net change
    calculate_net_vals = function(){
        start = document.getElementById('net_start');
        num_rows = start.parentElement.parentElement.childElementCount
        val = 0
        for (i = num_rows-2; i > 0; i--){
            // If notes say "balance" don't adjust
            notes = document.getElementById('notes_row_'+i).innerText
            category = document.getElementById('category_row_'+i).innerText
            amount = document.getElementById('amount_row_'+i).innerText
            amount = text_to_float(amount);
            
            if (notes.toLowerCase() !== 'balance'){
                if (category.toLowerCase() === 'income')
                    val = val+amount
                else
                    val = val-amount
            }
            if (val < 0) val_text = '$('+-1*val.toFixed(2)+')'
            else val_text = '$'+val.toFixed(2)
            document.getElementById('net_row_'+i).innerText = val_text
        }
    }
    // Calculate the bank value rows
    calculate_bank_vals = function(){
        var banks = []
        {% for bank in all_banks %}
        banks.push("{{bank}}")
        {% endfor %}
        
        banks.forEach(function(bank){
            // get the starting value
            start = document.getElementById(bank+'_start');
            num_rows = start.parentElement.parentElement.childElementCount;
            val = text_to_float(start.innerText);
            for (i = num_rows-2; i > 0; i--){
                notes = document.getElementById('notes_row_'+i).innerText;
                category = document.getElementById('category_row_'+i).innerText;
                amount = document.getElementById('amount_row_'+i).innerText;
                card_used = document.getElementById('card_used_row_'+i).innerText;
                amount = text_to_float(amount);
                // Use value to update this bank's current amount
                if (category.toLowerCase() == 'income'){
                    if (card_used === bank){
                        val = val+amount;
                    }
                    if (location === bank){
                        val = val-amount;
                    }
                }
                else {
                    if (card_used === bank){
                        val = val-amount;
                    }
                    if (location === bank){
                        val = val+amount;
                    }
                }
                
                if (val < 0) val_text = '$('+-1*val.toFixed(2)+')'
                else val_text = '$'+val.toFixed(2)
                document.getElementById('bank_'+bank+'_row_'+i).innerText = val_text
                
            }
        })
    }
    
    // CALCULATE VALUES
    $(document).ready(function(){
        calculate_net_vals()
        calculate_bank_vals()
    });
</script>
<script>
// Tab script
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
{% endblock %}
